/** IMAGE BORDER STYLE 1 */

.image-style1a span {
	background: url(/assets/bg3_04.gif) no-repeat left top;
}

/** IMAGE BORDER STYLE 2 */

.image-style2a span {
	background: url(/assets/bg3_05.gif) no-repeat left top;
}

/** IMAGE BORDER STYLE 3 */

.image-style3a span {
	background: url(/assets/bg3_06.gif) no-repeat left top;
}

/** IMAGE BORDER STYLE 4 */

.image-style4a span {
	background: url(/assets/bg3_07.gif) no-repeat left top;
}


#image-border {
	background: url(/assets/bg2_03.gif) no-repeat left top;
}

/** LINK STYLE 1 */

.link-style1 {
	background: url(/assets/bg2_04.gif) no-repeat left top;
}


/** BOX 2 */

#box2 {
	position: relative;
	top: 10px;
	left: 13px;
	font-size: 22px;
	display:block;
}

